{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Add items{% endblock %}

{% block content %}
    <h3>Insert</h3>
    <div class="form-group">Insert a new item</div>
    <form method="POST" id='insert-form'>
        {{ form.hidden_tag() }}
        {{ render_input_field(form.name) }}
        {{ render_input_field(form.amount) }}
        {{ render_input_field(form.price) }}
        {{ render_submit() }}
    </form>
{% endblock %}
