{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Delete itemd{% endblock %}

{% block content %}
    <h3>Delete</h3>
    <div class="form-group">Delete an item from DB</div>
    <form method="POST" id='insert-form'>
        {{ form.hidden_tag() }}
        {{ render_input_field(form.id) }}
        {{ render_submit() }}
    </form>
{% endblock %}
